body,
html {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
}

.app-container {
  padding: 30px 20px;
}

h1 {
  color: #ffffff;
  margin-block-start: 0em;
}

h2 {
  color: #ffffff;
  margin-block-start: 0em;
}

.input-area {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"],
button {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

input[type="text"] {
  background-color: #333;
  color: white;
  margin-left: 5px;
}

input:disabled {
  background-color: #e0e0e0;
  color: #a0a0a0;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button:hover {
  background-color: #66bb6a;
}

.terminal {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 160px;
}

.terminal div {
  margin: 5px 0;
}

.terminal span {
  font-weight: bold;
}

.tests {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
}

.tests.show {
  max-height: 500px;
}

.show-tests-link {
  color: #63d8e7;
  text-decoration: underline;
  cursor: pointer;
}

.show-tests-link:hover {
  color: #669cbb;
}

fieldset {
  border-color: rgb(95 95 95);
}

.checkLabel {
  margin-left: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#licenseText {
  overflow: auto;
  word-wrap: break-word;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#licenseLink {
  color: rgb(168, 168, 168);
  text-decoration: none;
  cursor: pointer;
}
